<!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./Index.html">
            <div class="sidebar-brand-icon">
                <img src="../Static/Images/logo.png" class="sidebar-logo"
                     style="width: 50px;">
            </div>
        </a>

        <!-- Nav Item -->
        <li class="nav-item">
            <a class="nav-link" href="./video.html">
                <i class="fas fa-fw fa-video" style="font-size: 30px"></i>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./image.html">
                <i class="fas fa-fw fa-image" style="font-size: 30px"></i>

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./camera.html">
                <i class="fas fa-fw fa-camera" style="font-size: 30px"></i>

            </a>
        </li>

        <!-- Add Task Modal -->

    </ul>
 <!-- End of Sidebar -->