venv/*
.idea/*
DL_Detection/.idea/*
DL_Detection/model/*
media/image_originals/*
media/image_predicts/*
media/video_originals/*
media/video_predicts/*
db.sqlite3
DL_Detection/model/model_9850_0486.pkl